/FireableTransitionProcessor.java
/FireableTransitionQuerySpecification.java
/NotFireableProcessor.java
/NotFireableQuerySpecification.java
/PlaceWithToken2Processor.java
/PlaceWithToken2QuerySpecification.java
/PlaceWithTokenProcessor.java
/PlaceWithTokenQuerySpecification.java
/SourcePlaceProcessor.java
/SourcePlaceQuerySpecification.java
/TargetPlaceProcessor.java
/TargetPlaceQuerySpecification.java
