<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="hu.bme.mit.ttc.refactoring.patterns.Refactoring" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.ttc.refactoring.patterns.Refactoring" id="hu.bme.mit.ttc.refactoring.patterns.Refactoring"/>
  </extension>
</plugin>
