<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="hu.bme.mit.viatra.petrinet.patterns.PetriNetSimulatorQueries" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.viatra.petrinet.patterns.PetriNetSimulatorQueries" id="hu.bme.mit.viatra.petrinet.patterns.PetriNetSimulatorQueries"/>
  </extension>
</plugin>
